extends layout.jade

block content
	//-
		nav#roomwnav
			b Rooms
			#rooms
		br
	
	
	input#testbutton(type='button', value='Call test function')
	br
	#namewrapper
		b Your name: 
			input#name(type='text', value='Anonymous')
	div#mainwrapper
		#chatwrapper
			#content
			.controls

				br
				input#field()
				input#send(type='button', value='send')
		div#userwrapper
			b Users
			#users