extends layout.jade

block content
	nav#roomwnav
		b Rooms
		#rooms
	br
	div#user-wrapper
		b Users
		#users
	input#testbutton(type='button', value='Call test function')
	br
	#namewrapper
		b Your name: 
			input#name(type='text', value='Anonymous')
	#chatwrapper
		#content
		.controls

			br
			input#field()
			input#send(type='button', value='send')
