doctype
html
	head
		title= "Chat"
		script(src='/chat.js')
		script(src='/socket.io/socket.io.js')
		script(src='https://code.jquery.com/jquery-2.1.4.min.js')
		link(href='/css/style.css' rel='stylesheet' type='text/css')

	body
		block content